.places h1 {
  margin-left: 20px;
  font-size: 30px;
  display: block;
  margin-bottom: 0;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #FF5A5F 1px;
  border-radius: 4px;
  border-style: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.plac {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.places h2 {
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 15px;
}

div.price_by_night {
  color: #FF5A5F;
  border-color: #FF5A5F;
  border-width: 4px;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  border-style: solid;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-top: -10px;
}

div.place_home {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

div.place_home h2 {
  display: block;
}

div.spaces {
  background-color: black;
}

div.price_by_night p {
  align-self: center;
}

div.information {
  height: 80px;
  width: 100%;
  border: #DDDDDD 1px;
  display: flex;
  border-bottom-style: solid;
  border-top-style: solid;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 7px;
  padding-top: 3px;
}

div.information p {
  display: block;
  margin-top: 60px;
  text-align: center;
}

div.max_guest, div.number_rooms, div.number_bathrooms {
  width: 100px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  margin-bottom: 20px;
}

div.max_guest {
  background-image: url(../images/icon_group.png);
}

div.number_rooms {
  background-image: url(../images/icon_bed.png);
}

div.number_bathrooms {
  background-image: url(../images/icon_bath.png);
}

div.user p {
  margin-left: 0px;
  margin-bottom: 0px;
}

div.description {
  margin-top: -5px;
  margin-bottom: 30px;
}
